body {
    padding: 0;
    margin: 0;
}

.contenedor {

    display: flex;
    justify-content: center;
    align-items: center;

}



.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
    margin-left: 375px;
    margin-top: -40px;

}

.inputs input {
    width: 50%;
    height: 50px;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px; /* más redondo */
    border: 1px solid #ccc; /* hace visible el borde */
    box-sizing: border-box;
    outline: none;
}


.google {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto 0 auto;
    margin-top: 90px;
    background-color: #F0F0F0;
    border: 2px solid white;
    border-radius: 4px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    /* centrado con espacio arriba */
    background-color: #6D8299;
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 4px;
    border: 2px solid #6D8299;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-top: -20px;
    text-decoration: none;
}




.lbl-user {
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.lbl-login {
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;

}

.inputs p {
    margin-right: 180px;
    font-family: Arial, Helvetica, sans-serif;


}

.orp {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.icon {
    width: 30px;
    height: 30px;
}