/* Reset visual básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    color: #333;
}


article p {
    margin-top: 15px;
    max-width: 75%;
    padding: 10px;
    

}

article h1 {
    font-size: 50px;
}

article img {
    margin-top: 15px;
    height: 600px;
}

article h2 {
    margin-top: 10px;
}

div img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-left: 550px;
}